.profile-container {
    max-width: 1000px;
    margin: auto;
    height:500px;
    padding: 20px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
    margin-bottom: 50px;
  }
  
  .profile-title {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .profile-card {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
  }
  
  .profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .role {
    font-weight: bold;
    color: #555;
  }
  
  .settings {
    margin-top: 100px;
  }
  .edit-profile-btn, .change-password-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
  }
  
  .edit-profile-btn {
    background: #007bff;
    color: white;
    height: 40px;
    margin-top:9px;
  }
  
  .change-password-btn {
    background: #dc3545;
    color: white;
    height:40px;
  }
  .buttons{
    display:flex;
    gap:30px;
    align-items: center;
    text-align: center;
  }