.user-info {
  width: 100%;
  height:70px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
  font-family: Arial, sans-serif;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.info-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.info-card div {
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  background-color: #e6f7ff;
  border-radius: 5px;
  text-align: center;
  color: #0056b3;
  border: 1px solid #b3e0ff;
}
.patient-profile img{
  border-radius: 50%;
  width: 80px;
  height:80px;
  border: 3px solid blue;
}
.profile-title{
  display: flex;
  gap:10px;
}
.ages{
  width:100px;
  height: 70px;
  
  
}
.height{
  width:100px;
  height: 70px;
}